@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* @tailwind base; */
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

.container {
  max-width: 133rem;
  margin: 0 auto;
  padding: 0 2rem;
}
